Source: aptofile
Section: utils
Priority: extra
Maintainer: Jarle Bauck Hamar <jarle.hamar@aptomar.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.aptomar.com/

Package: aptofile
Architecture: all
Depends: ${misc:Depends}
Description: Python utility for creating and verifying Apomar Files (.apt)
